
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    font-family: "DM Sans", sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}

.box-item {
    background: rgba(122, 0, 145, 0.87);
    width: 65%;
    text-align: right;
    position: absolute;
    right: 0;
    top: 50%;
    box-sizing: border-box;
    padding: 20px 15px;
}

.specta {
    position: relative;
}

.box-item h4 {
    color: #fff;
}

.box-item p {
    color: rgb(117, 105, 105);
}

.lo-input {
    width: 100%;
    padding: 10px;
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(232, 225, 225);
    border-radius: 10px;
}
.tron {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 20px 40px;
    margin: 0 60px;
    border: 1px solid #F3F3F3;
}

.log-btn, .in-btn, .p-btn, .u-btn, .pro-btn, .d-btn, .a-btn {
    outline: none;
    border: 0;
    box-shadow: none;
    padding: 13px;
    background: #7A0091;
    color: #fff;
    width: 100%;
}

/* sidebar styling */
.sidebar {
    background: #7A0091;
    width: 235px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 100;
    transition: width 300ms;
}

.sidebar-menu button {
    outline: none;
    border: 0;
    box-shadow: none;
    background: #7A0091;
    font-size: 13px;
    color: #fff;
    width: 100%;
    text-align: left;
    margin: 15px 0;
    font-weight: 500;
}

.submenu {
    margin-left: 50px;
    /* max-height: 0;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: max-height 0.6s ease; */
}

/* .submenu.open {
    max-height: 500px;
    transform: scaleY(1);
    transition-delay: 3s;
} */

.sidebar-submenu-button {
    padding-left: 10px;
    text-align: left;
    display: block; 
}

.sidebar-menu {
    padding: 5px 0 0;
    /* margin: 0 10px; */
}

.sidebar-menu button.active {
    background: #fff;
    color: #7A0091;
    border-radius: 30px 0 0 30px;
    font-weight: 600;
    padding: 10px;
}

/* dashboard styling */

.main-content {
    transition: margin-left 300ms;
    margin-left: 232px;
    margin-top: 10px;
    padding: 2rem 1rem;
    background: #f2edf3;
}

header {
    background: #fff;
    display: flex;
    /* justify-content: space-between; */
    padding: 0.5rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 235px;
    width: calc(100% - 235px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}


@media only screen and (max-width: 1000px) {
    .sidebar {
        width: 70px;
    }

    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }

    .sidebar li a {
        padding-left: 0rem;
    }

    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child {
        display: none;
    }

    .main-content {
        margin-left: 70px;
    }

    .main-content header {
        width: calc(100% - 70px);
        left: 70px;
    }

}


@media screen and (max-width: 1000px) {

    .sidebar {
        left: -100% !important;
    }

    .main-content {
        width: 100%;
        margin-left: 0rem;
    }

    header {
        width: 100% !important;
        left: 0 !important;
    }

    #nav-toggle:checked + .sidebar {
        left: 0 !important;
        z-index: 100;
        width: 345px;
    }

    #nav-toggle:checked + .sidebar .sidebar-brand,
    #nav-toggle:checked + .sidebar li {
        padding-left: 2rem;
        text-align: left;
    }

    #nav-toggle:checked + .sidebar li a {
        padding-left: 1rem;
    }

    #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child {
        display: inline;
    }

    #nav-toggle:checked ~ .main-content {
        margin-left: 0rem !important;
    }
}
.dash-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
}
  
.card-single {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 100%;
    margin-right: 10px;
}

.df {
    color: #B34017;
}
.ft {
    color: #2A803E;
}

table {
        
    border-collapse: separate;
    border-spacing: 0px;    
    
}

thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

table th, table td{
    top: 0px;
    
    color: #fff;
    
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    outline: 0.7px solid rgb(233, 229, 229);
    border: 1.5px solid rgb(233, 229, 229);

} 



table th, table td {
    
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

table td {
    text-align: center;
    
    font-size: 11px;
    border: 1px solid rgb(177, 177, 177);
    padding-left: 20px;
    color: #6E7079;
    font-weight: 600;
    
}

table th {
    font-weight: 600;
    color: #7A0091 !important;
}

tbody tr td:last-child {
    width: 3% !important;
}

.my-table {
    background: #fff;
}

.my-table tbody tr:nth-child(even) {
    background-color: #f2ebf2;
}

.box {
    height: 300px;
    width: 100%;
}

canvas {
    width: 100% !important;
}

.chart-item, .table-content, .box2 {
    background: #fff;
    height: 300px;
    width: 100%;
}

.recent-order {
    height: 440px;
}

.table-container {
    overflow-x: auto;
}


/* invoice styling */
.ti, .pi, .up, .can {
    background: #7A0091;
    padding: 2px 7px;
    color: #fff;
    border-radius: 3px;
}
.pi {
    background: #2A803E;
}

.up {
    background: #B34017;
}

.can {
    background: #FFC107;
}

.in-btn {
    width: 15%;
    border-radius: 5px;
}

.p-btn {
    background: none;
    color: #2A803E;
}
.u-btn {
    background: none;
    color: #B34017;
}

.pro-btn {
    width: 15%;
    padding: 11Fpx;
    border-radius: 10px;
    font-size: 18px;
}

.d-btn {
    width: 15%;
    background: #d7cfd8;
    color: #7A0091;
    border-radius: 10px;
}

.a-btn {
    background: none;
    color: #222;
    width: 10%;
}

.d-btn:hover {
    background: #7A0091;
    color: #ccc;
}



/* product styling */
.search-input {
    padding: 10px 20px 10px 40px; 
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 8px;
    font-size: 20px;
    color: #222;
    cursor: pointer;
}

.search-container {
    position: relative;
    margin-top: 14px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.modal-content2 {
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 1050px;
    max-width: 100%;
    max-height: 100vh;
    overflow-y: auto;

}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #7A0091;
    background: #fff;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}

input, select, textarea {
    outline: none !important;
    box-shadow: none !important;
    padding: 14px;
    border: 1px solid #DDE5E9;
    border-radius: 10px;
    background-color: transparent !important;
    width: 100%;
    margin-bottom: 20px;
    color: #222;
}

::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

.head-mode {
    display: flex;
}

/* report styling */
.re {
    background: #34C759;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
}
@media screen and (max-width: 992px) {
    .box-item {
        width: 100%;
    }
    br {
        display: none;
    }
    .tron {
        margin: 0 0 20px 0;
    }

    .dash-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 1rem;
    }

    .card-single {
        margin-bottom: 1rem;
    }

    .vega {
        font-size: 16px;
        line-height: 1.9;
    }

    .in-btn {
        width: 100%;
    }
}

.nav-toggle {
    display: none; /* Hidden by default */
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        left: -250px;
        width: 250px;
        height: 100%;
        top: 0;
        z-index: 1000;
        transition: left 0.3s ease;
        background-color: #FF962E;
    }

    .sidebar-visible {
        left: 0;
    }

    .sidebar-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
    }
}